{% extends 'base.html' %}
{% block content %}
{% load main_extras %}
{% load static %}
<div class="card">
  <h5 class="card-header">Statistics</h5>
  <div class="card-body">
    <div class="row">
      <div class="col">
        🚹 Male: {{ objects|filtersex:0 }}
        <br>
        🚺 Female: {{ objects|filtersex:1 }}
      </div>
      <div class="col">
        🟢 Farvardin: {{ objects|filtermonth:1 }}
        <br>
        🟢 Ordibehesht: {{ objects|filtermonth:2 }}
        <br>
        🟢 Khordad: {{ objects|filtermonth:3 }}
      </div>
      <div class="col">
        🔴 Tir: {{ objects|filtermonth:4 }}
        <br>
        🔴 Mordad: {{ objects|filtermonth:5 }}
        <br>
        🔴 Shahrivar: {{ objects|filtermonth:6 }}
      </div>
      <div class="col">
        🟡 Mehr: {{ objects|filtermonth:7 }}
        <br>
        🟡 Aban: {{ objects|filtermonth:8 }}
        <br>
        🟡 Azar:: {{ objects|filtermonth:9 }}
      </div>
      <div class="col">
        🔵 Dey:{{ objects|filtermonth:10 }}
        <br>
        🔵 Bahman: {{ objects|filtermonth:11 }}
        <br>
        🔵 Esfand: {{ objects|filtermonth:12 }}
      </div>
    </div>
    <br>
    <span>🏡 City</span>
    <div class="row">
      <div class="col">
        300: {{ objects|filtercity:300 }}
        <br>
        900: {{ objects|filtercity:900 }}
        <br>
        1700: {{ objects|filtercity:1700 }}
      </div>
      <div class="col">
        299: {{ objects|filtercity:299 }}
        <br>
        350: {{ objects|filtercity:350 }}
        <br>
        430: {{ objects|filtercity:430 }}
      </div>
      <div class="col">
        500: {{ objects|filtercity:500 }}
        <br>
        600: {{ objects|filtercity:600 }}
        <br>
        800: {{ objects|filtercity:800 }}
      </div>
      <div class="col">
        1125: {{ objects|filtercity:1125 }}
        <br>
        1200: {{ objects|filtercity:1200 }}
        <br>
        1325: {{ objects|filtercity:1325 }}
      </div>
      <div class="col">
        1500: {{ objects|filtercity:1500 }}
      </div>
    </div>
  </div>
</div>
<div class="card mt-4">
  <h5 class="card-header">Users</h5>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th class="index">#</th>
            <th>Name</th>
            <th class="month">City</th>
            <th class="month">Month</th>
            <th class="day">Day</th>
            <th class="month">Recommend</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for object in objects %}
          <tr>
            <td>{{ object.id }}</td>
            <td {% if object.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}>
              <a href="{% url 'user' object.id %}">
                {% if object.sex %}
                  <img src="{% static 'img/avatars/female.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Ms.
                {% else %}
                  <img src="{% static 'img/avatars/male.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Mr.
                {% endif %}
                  {{ object.name }}
              </a>
            </td>
            <td>{{ object.city }}</td>
            <td>{{ object.month|formatmonth }}</td>
            <td>{{ object.day }}</td>
            <td {% if object.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}>
              <u><a href="{% url 'user' object.id %}">Recommend</a></u>
            </td>
          </tr>    
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="card">
          <h5 class="card-header">Best 50 Matches</h5>
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th class="index">#</th>
                    <th>First</th>
                    <th>Second</th>
                    <th>Distance</th>
                    <th class="day">Distance (%)</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% for distance in distances %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td {% if distance.first.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}><a href="{% url 'user' distance.first.id %}">{% if distance.first.sex %}Ms.{% else %}Mr.{% endif %} {{ distance.first.name }}</a></td>
                      <td {% if distance.second.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}><a href="{% url 'user' distance.second.id %}">{% if distance.second.sex %}Ms.{% else %}Mr.{% endif %} {{ distance.second.name }}</a></td>
                      <td>{{ distance.distance|floatformat:2 }}</td>
                      <td class = "text-white bg-success">
                        % {{ distance.distance|percentage }}
                      </td>
                    </tr>   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <h5 class="card-header">Worst 50 Matches</h5>
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th class="index">#</th>
                    <th>First</th>
                    <th>Second</th>
                    <th>Distance</th>
                    <th class="day">Distance (%)</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% for distance in hightdistances %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td {% if distance.first.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}><a href="{% url 'user' distance.first.id %}">{% if distance.first.sex %}Ms.{% else %}Mr.{% endif %} {{ distance.first.name }}</a></td>
                      <td {% if distance.second.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}><a href="{% url 'user' distance.second.id %}">{% if distance.second.sex %}Ms.{% else %}Mr.{% endif %} {{ distance.second.name }}</a></td>
                      <td>{{ distance.distance|floatformat:2 }}</td>
                      <td class = "text-white bg-danger">
                        % {{ distance.distance|percentage }}
                      </td>
                    </tr>   
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}