{% extends 'base.html' %}
{% block content %}
{% load main_extras %}
{% load static %}
<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Month</th>
          <th>Day</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <td {% if object.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}>
          <a href="{% url 'user' object.id %}">
              {% if object.sex %}
                  <img src="{% static 'img/avatars/female.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Ms.
              {% else %}
                  <img src="{% static 'img/avatars/male.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Mr.
              {% endif %}
                  {{ object.name }}
          </a>
        </td>
        <td>{{ object.city }}</td>
        <td>{{ object.month|formatmonth }}</td>
        <td>{{ object.day }}</td>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-4">
  <h5 class="card-header">Recommends</h5>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Index</th>
            <th>User</th>
            <th>Distance</th>
            <th>Distance (%)</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for distance in distances %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% if distance.first.name == object.name %}
                    <td {% if distance.second.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}>
                      <a href="{% url 'user' distance.second.id %}">
                        {% if distance.second.sex %}
                            <img src="{% static 'img/avatars/female.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Ms.
                        {% else %}
                            <img src="{% static 'img/avatars/male.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Mr.
                        {% endif %}
                            {{ distance.second.name }}
                      </a>
                    </td>
                {% elif distance.second.name == object.name %}
                    <td {% if distance.first.sex %}class = "bg-female"{% else %}class = "bg-male"{% endif %}>
                      <a href="{% url 'user' distance.first.id %}">
                        {% if distance.first.sex %}
                            <img src="{% static 'img/avatars/female.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Ms.
                        {% else %}
                            <img src="{% static 'img/avatars/male.jpg' %}" alt="Avatar" class="avatar avatar-s rounded-circle mx-2">Mr.
                        {% endif %}
                            {{ distance.first.name }}
                      </a>
                    </td>
                {% endif %}
                  <td class = "">{{ distance.distance|floatformat:2 }}</td>
                  <td {% if distance.distance|percentage > 60 %}
                        class = "text-white bg-success"
                      {% elif distance.distance|percentage < 60 and distance.distance|percentage > 30 %}
                        class = "text-white bg-warning"
                      {% elif distance.distance|percentage < 30 %}
                        class = "text-white bg-danger"
                      {% endif %}>
                    % {{ distance.distance|percentage }}
                  </td>
            </tr>   
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}